*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(130deg,rgb(127, 8, 129),rgb(8, 129, 117));
}
.cap{
    text-transform: uppercase;
}
.calculater{
    box-shadow: -1px -1px 5px rgb(108, 27, 184),2px 2px 5px rgb(37, 14, 58) ; ;
    padding: 10px;
    margin-top: 90px;
    width: 315px;
    background-color: blueviolet;
    border-radius: 10px;
}
/* sam this style of button */
button{
    background-color: rgb(75, 17, 130);
    font-size: 18px;
    width: 60px;
    height: 60px;
    color: #fff;
    outline: 0;
    border: 0;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 2px 1px 5px rgb(37, 14, 58) ;
}
.eq{
    width: 130px;
}
/* sam this is styles of the input */
#input{
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: right;
    outline: none ;
    font-size: 30px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 40px;
}
::placeholder{
    color: #fff;
}
